 body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
             text-align: center;
             margin: 10px;
        }

        a {
            padding: 3px;
            margin: 10px;
            text-decoration: none;
        }
        
        a:hover{
            text-decoration: underline;
        }
      table{
          display:inline-block;
      }
      /* ------------------------------------------------------------- */
      
